$main-color: #15023a;

$width: 768px;
$tabletWidth: 1025px;
$xl-desktop: 1900px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tabletWidth}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$xl-desktop}) {
        @content;
    }
}
